.App {
  text-align: center;
}
.school-table, .school-table th, .school-table td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 10px;
}

.school-table td {
  padding: 10px;
}

.table-wrap {
  display: flex;
  flex-direction: column;
  margin: 20px 10%;
}

.school-item {
  cursor: pointer;  
}

.school-item:hover, .school-item:nth-child(2n):hover {
  background-color: #bebebe;
}

.school-item:nth-child(2n) {
  background-color: #eeeeee;
}

.text-left {
  text-align: left;
}